# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build artifacts
dist/
out/
build/

# Ignore npm debug log
npm-debug.log

# Ignore VS Code settings
.vscode/
